<!doctype html>
<html lang="ru">
<head>
  {% include "./includes/head.twig" %}
  <title>WebTimer</title>
  <link rel="stylesheet" href="build/css/style.min.css">
</head>
<body>
  <div class="wrapper">
    {% include "./parts/main.twig" %}
  </div>

{% include "./includes/scripts.twig" %}
<script src="build/scripts/timers.js"></script>


</body>
</html>