<div class="webtimer-add-btn"><button type="button" class="webtimer-add-link" id="add"><p>+</p></button></div>
<div><h1 class="title">Web<span>Timer</span></h1></div>
<div class="webtimer" id="main">
    {# <div class="webtimer__card card">
            <div>
                <p class="card__title">Название</p>
                <input class="card__input" type="text">
                <p class="card__timer-type">Тип таймера</p>
            </div>

            <div class="switch switch--horizontal">
                <input class="radio1" type="radio" name="switch" value="timer" />
                <label>Таймер</label>
                <input class="radio2" type="radio" name="switch" value="countdown" />
                <label>Обратный отсчет</label>
                <span class="toggle-outside"><span class="toggle-inside"></span></span>
            </div>

            <div class="webtimer__timer">
                <div class="timer">
                    <span class="hours">00:</span>
                    <span class="mins">00:</span>
                    <span class="seconds">00</span>  
                </div>
                <div class="countdown__inputs hidden">
                    <input class="countdown__hours" type="number" min="1" max="99" placeholder="Часы">
                    <input class="countdown__mins" type="number" min="1" max="59" placeholder="Минуты">
                    <input class="countdown__sec" type="number" min="1" max="59" placeholder="Секунды">
                </div>
                <div class="controls">
                    <button type="button" class="start-btn">Старт</button>
                    <button type="button" class="stop-btn">Стоп</button>
                </div>
            </div>
        
    </div> #}
</div>